<a href="https://colab.research.google.com/github/YM53858/DATA-690-WANG/blob/master/Assignment_06/Assignment_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 6

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore') # To avoid warnings

In [ ]:
dfs = pd.read_html("https://www.genealogybranches.com/censuscosts.html") # Reading the URL
len(dfs) # Shows number of tables in above url

2

In [ ]:
df = dfs[0]
df_1 = dfs[1]

In [ ]:
df

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

This dataframe ' df ' is the required Data frame for us because it has census table from the given URL

In [ ]:
df_1

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

In [ ]:
header = df.iloc[0] 
df = df[1:]
df.columns = header

Making the first row as header

In [ ]:
df

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23       2010*        308745538     $13 Billion                  $42.11

In [ ]:
df.describe() # This describes every columns data

0      Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1830         38558371  $5,790,678              6.26 cents
freq             1                1           1                       1

In [ ]:
df.info() # Shows number of entries and number of null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 1 to 23
Data columns (total 4 columns):
Census Year                23 non-null object
Total Population           23 non-null object
Census Cost                23 non-null object
Average Cost Per Person    23 non-null object
dtypes: object(4)
memory usage: 868.0+ bytes

In [ ]:
def cleanse_year(raw_year):
    year = raw_year.replace("*","")
    return year

Testing cleanse_year()

In [ ]:
cleanse_year("198*2")

'1982'

In [ ]:
cleanse_year("2000*")

'2000'

In [ ]:
def cleanse_cost(raw_cost):
    if raw_cost.find(" Billion") != -1:     # if "Billion" in raw_cost: 
        raw_cost = (raw_cost.strip(" Billion"))+"000000000"
    cost = raw_cost.lstrip("$").replace(",","").replace(".","")
    return cost

Testing cleanse_cost()

In [ ]:
cleanse_cost("$3.8 Billion")

'38000000000'

In [ ]:
def cleanse_average_cost(raw_avcp):
    if (raw_avcp.find('$') == -1): 
        raw_avcp= raw_avcp.replace(" cents","")
        avcp= float(raw_avcp)/100
    else:
        avcp=raw_avcp.strip("$")
    return avcp

Testing cleanse_average_cost()

In [ ]:
cleanse_average_cost("2.35 cents")

0.0235

In [ ]:
cleanse_average_cost("$5.3")

'5.3'

### Applying above functions to those corresponding columns for cleansing the data

In [ ]:
df["Census Year"] = df["Census Year"].apply(cleanse_year)

df["Census Cost"] = df["Census Cost"].apply(cleanse_cost)

df['Average Cost Per Person'] = df['Average Cost Per Person'].apply(cleanse_average_cost)

In [ ]:
df

0  Census Year Total Population  Census Cost Average Cost Per Person
1         1790          3929214        44377                  0.0113
2         1800          5308483        66109                  0.0124
3         1810          7239881       178445                  0.0246
4         1820          9633822       208526                  0.0216
5         1830         12866020       378545                  0.0294
6         1840         17069458       833371                  0.0488
7         1850         23191876      1423351                  0.0614
8         1860         31443321      1969377                  0.0626
9         1870         38558371      3421198                  0.0887
10        1880         50155783      5790678                  0.1154
11        1890         62979766     11547127                  0.1833
12        1900         76303387     11854000                  0.1554
13        1910         91972266     15968000                  0.1707
14        1920        105710620     25117000                  0.2376
15        1930        122775046     40156000                  0.3271
16        1940        131669275     67527000                  0.5129
17        1950        151325798     91462000                  0.6044
18        1960        179323175    127934000                  0.7134
19        1970        203302031    247653000                    1.22
20        1980        226542199   1078488000                    4.76
21        1990        248718301   2492830000                   10.02
22        2000        281421906  45000000000                   15.99
23        2010        308745538  13000000000                   42.11

### Exporting the dataframe into a CSV file

In [ ]:
df.to_csv("census_cost_cleansed.csv", index=False)