<a href="https://colab.research.google.com/github/YM53858/DATA-690-WANG/blob/master/Assignment-03/Assignment-03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 03
## The Problem:
### Write a program that generates 100 random integers between 0 and 9.
- Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number)
- If the random number is an odd number, print "@" instead. like the following:
- Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers)
- Optional: Surround the matrix with asterisks (*) like the following
- Optional (challenging): Calculate and Print the total of each row and column like the following:

In [16]:
import numpy as np

In [17]:
A = np.random.randint(10, size=(10, 10))

- Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number)

In [18]:
for row in A:
    print(" ".join(map(str,row)))

3 8 6 5 9 2 5 4 4 3
1 6 8 6 5 4 0 5 8 5
3 0 7 8 8 3 2 2 0 0
7 8 0 1 3 7 9 3 7 5
8 5 2 8 1 8 1 0 8 9
5 0 6 3 9 0 5 8 1 4
4 7 9 8 0 0 6 1 1 2
9 6 5 8 9 4 4 7 2 5
0 4 0 5 0 8 1 0 8 8
8 0 1 6 1 1 6 6 0 4

In [19]:
A1 = np.where(A%2 == 1, '@', A)

- If the random number is an odd number, print "@" instead. like the following:

In [20]:
for row in A1:
    print(" ".join(map(str,row)))

@ 8 6 @ @ 2 @ 4 4 @
@ 6 8 6 @ 4 0 @ 8 @
@ 0 @ 8 8 @ 2 2 0 0
@ 8 0 @ @ @ @ @ @ @
8 @ 2 8 @ 8 @ 0 8 @
@ 0 6 @ @ 0 @ 8 @ 4
4 @ @ 8 0 0 6 @ @ 2
@ 6 @ 8 @ 4 4 @ 2 @
0 4 0 @ 0 8 @ 0 8 8
8 0 @ 6 @ @ 6 6 0 4

- Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers)

In [21]:
for row in A:
    s=0
    for i in row:s+=i
    print(" ".join(map(str,row))+" * "+str(s))

3 8 6 5 9 2 5 4 4 3 * 49
1 6 8 6 5 4 0 5 8 5 * 48
3 0 7 8 8 3 2 2 0 0 * 33
7 8 0 1 3 7 9 3 7 5 * 50
8 5 2 8 1 8 1 0 8 9 * 50
5 0 6 3 9 0 5 8 1 4 * 41
4 7 9 8 0 0 6 1 1 2 * 38
9 6 5 8 9 4 4 7 2 5 * 59
0 4 0 5 0 8 1 0 8 8 * 34
8 0 1 6 1 1 6 6 0 4 * 33