<a href="https://colab.research.google.com/github/YM53858/DATA-690-WANG/blob/master/Assignment-03/Assignment-03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 03
## The Problem:
### Write a program that generates 100 random integers between 0 and 9.
- Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number)
- If the random number is an odd number, print "@" instead. like the following:
- Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers)
- Optional: Surround the matrix with asterisks (*) like the following
- Optional (challenging): Calculate and Print the total of each row and column like the following:

In [ ]:
import numpy as np

In [ ]:
A = np.random.randint(10, size=(10, 10))

- Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number)

In [ ]:
for row in A:
    print(" ".join(map(str,row)))

5 9 6 9 6 1 1 2 6 4
2 0 6 3 0 6 7 4 5 3
2 7 5 0 9 4 8 2 6 5
5 2 7 8 3 7 4 6 9 4
4 0 6 7 8 1 8 9 2 9
9 8 4 7 3 4 2 7 4 4
6 9 3 4 5 3 8 3 9 5
6 0 7 8 6 1 4 3 2 2
3 7 2 2 8 8 4 4 3 7
4 1 7 6 2 5 9 0 5 6

In [ ]:
A1 = np.where(A%2 == 1, '@', A)

- If the random number is an odd number, print "@" instead. like the following:

In [ ]:
for row in A1:
    print(" ".join(map(str,row)))

@ @ 6 @ 6 @ @ 2 6 4
2 0 6 @ 0 6 @ 4 @ @
2 @ @ 0 @ 4 8 2 6 @
@ 2 @ 8 @ @ 4 6 @ 4
4 0 6 @ 8 @ 8 @ 2 @
@ 8 4 @ @ 4 2 @ 4 4
6 @ @ 4 @ @ 8 @ @ @
6 0 @ 8 6 @ 4 @ 2 2
@ @ 2 2 8 8 4 4 @ @
4 @ @ 6 2 @ @ 0 @ 6

- Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers)

In [ ]:
for row in A:
    s=0
    for i in row:s+=i
    print(" ".join(map(str,row))+" * "+str(s))

5 9 6 9 6 1 1 2 6 4 * 49
2 0 6 3 0 6 7 4 5 3 * 36
2 7 5 0 9 4 8 2 6 5 * 48
5 2 7 8 3 7 4 6 9 4 * 55
4 0 6 7 8 1 8 9 2 9 * 54
9 8 4 7 3 4 2 7 4 4 * 52
6 9 3 4 5 3 8 3 9 5 * 55
6 0 7 8 6 1 4 3 2 2 * 39
3 7 2 2 8 8 4 4 3 7 * 48
4 1 7 6 2 5 9 0 5 6 * 45